html, body {
    margin: 0;
    /*     border: 3px red solid; */
    /*     height: 100%; */
}

/* --------Welcome---------------------------------------------- */

html, .welcome-body {
    background-color: black;
}

.welcome-container {
    background-image: url("./img/web-banner-opt3.png");
    height: 500px;
    background-size: 100% 250px;
    height: 250px;
/*         border: 2px green solid; */
}

.welcome-message {
/*         border: 3px blue dashed; */
    color: #00a3ff;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#registered {
    /*     border: 2px blue solid; */
    padding: 3px;
    margin-top: 40px;
    margin-left: -30px;
}

.welcome-form-container {
    display: flex;
/*         border: 2px red solid; */
    justify-content: center;
    padding: 1%;
    width: 12%;
    margin-left: 42%;
}

input {
    background-color: rgb(242, 239, 245);
    height: 20px;
    width: 150px;
    font-size: 18px;
    padding: 5px;
    margin: 7px;
    border: 2px #fe1bee solid;
}

#welcome-button {
    background-color: rgb(106, 155, 255);
    height: 34px;
    width: 120px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 15%;
    border: 3px #fd23cf solid;
    margin-top: 5%;

}

.link-container {
    /*     border: 2px aqua solid; */
    display: flex;
    justify-content: center;
    color: #00a3ff;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin-top: -30px;
}

#login-link {
    /*     border: 2px blue solid; */
    color: #00a3ff;
}

/* --------Login---------------------------------------------- */

#login-container {
    /*     border: 3px red solid; */
    display: flex;
    justify-content: column;
}

#strip1-container {
    /*     border: 2px blue solid; */
    width: 320px;
    flex: 1;
    padding-right: 10%;

}

#strip2-container {
    /*     border: 2px yellow solid; */
    width: 320px;
    flex: 1;
    padding-left: 10%;

}

.logo-container {
    display: flex;
    /* border: 1px red solid; */
    justify-content: center;
    align-item: center;
    flex: 2;
    padding-top: 5%;
}

.logo {
    height: 150px;
    width: 180px;
}

.login-form-container {
    display: flex;
    /*     border: 2px red dashed; */
    justify-content: center;
    padding: 20px;
    width: 40%;
    margin-left: 30%;
    padding-top: 10%;
}

#login-info-container {
    /* border: 3px green solid; */
    margin-top: 20%;
}

.logo-and-form {
    /* border: 4px blue solid; */
    flex: 2;
}

#login-button {
    background-color: rgb(106, 155, 255);
    height: 34px;
    width: 96px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 35px;
    border: 3px #fd23cf solid;
    margin-top: 20%;
}

#register-link {
    color: #00a3ff;
}

#back {
    font-size: 35px;
}

/* --------current user page---------------------------------------------- */

.logo {
    /*     border: 3px green solid; */
}

#app-logo-container {
    /*     border: 5px green solid; */
    background-image: url(./img/user4-background.jpg);
    opacity: 0.9;
    padding-top: 1%;
    padding-bottom: 1%;
    background-position: contain;
    display: flex;
    justify-content: center;
    width: 100%;
    /*     background-image:url("./img/user2-background.jpg");
    background-repeat:repeat;
    background-position:bottom; */
    /*     background-size:contain */
    /*     opacity: 1; */
    /*     z-index: -1; */
}

#profilepicupload {
         border: 8px #37628d solid;
/*     height: 250px; */
    border-radius: 30px;


}

#app-user-greeting {
    /*     border: 2px blue dotted; */
    display: flex;
    justify-content: center;
    /*     font-family: 'Cabin', sans-serif; */
    font-family: 'Finger Paint', cursive;
    color: rgb(255, 120, 120);
    font-size: 38px;
    margin-top: 4%;
}

#profilepic-container {
    border: 4px red solid;
    padding-left: 2%;
/*     height: 250px; */

}

#pic-button {
    border: 3px #fd23cf solid;
    background-color: rgb(106, 155, 255);
    height: 34px;
    width: 96px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 35px;
}

#pic-bio-container {
    border: 5px #349e2d solid;
    display: flex;
    /*     background-image:url(./img/user7-background.jpeg); */
/*     height: 250px; */
}

.bio-container {
    /*     border: 2px blue solid; */
    height: 200px;
    margin-top: 3.5%;
}

.bio-form {
    height: 200px;
    width: 300px;
    /* border: 2px blue solid; */
}

#textarea-form {
    border: 2px #29ff00 solid;
    height: 190px;
    width: 290px;
    background-color: #d8fff9;
    border-radius: 10px;
    margin-left: 4%;
}

#bio-result-container {
    border: 4px pink solid;
    padding: 5% 4% 0% 4%;
    /*     font-family: 'Finger Paint', cursive; */
    font-family: 'Finger Paint', cursive;
    font-family: 'Bitter', serif;
    font-size: 13px;
    /*     background-size:contain */
    color: rgb(106, 248, 255);
}

#bio-button {
    border: 3px #fd23cf solid;
    background-color: rgb(106, 155, 255);
    height: 34px;
    width: 96px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 5%;
}

#editbio {
    font-family: 'Finger Paint', cursive;
    font-family: 'Bitter', serif;
    font-size: 13px;
    color: pink;
}

/* ---------friends page---------- */

.pending-and-accept {
    color: #5bc3ff;
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    border: 3px white dotted;
}

.pendaccept-container {
    border: 3px #11ff00 solid;
    display: flex;
    /*     flex-direction: column; */
}

#pendinglist-container {
    border: 3px blue solid;
    flex: 1;
}

#acceptedlist-container {
    border: 3px hotpink solid;
    flex: 1;
    order: -1;
}


#accepted-friends {
    border: 2px yellow dashed;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-family: fantasy;
    color: #5bc3ff;
}

#unfriend-button {
    border: 3px #fd23cf solid;
    background-color: rgb(106, 155, 255);
    height: 30px;
    width: 85px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 6px;
    margin-left: 30%;
    margin-top: 5%;
}
/* ------Other profile user page-------- */
#profilepic {
    border: 2px blue solid;

}


/* ---------Online friends page---------- */

.onlinefriends-container {
    border: 3px red solid;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    color: cornsilk;
    padding-left: 4%;
}

/* ---------Chatpage---------- */

#chatbox {
    border: 2px yellow dotted;
    color: green;
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
}

/* ---------Nav--------------- */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
