html, body {

    margin: 0;
/*     border: 3px red solid; */
/*     height: 100%; */
}


/* --------Welcome---------------------------------------------- */
html, .welcome-body {
      background-color:beige;
}
.welcome-container {

    background-image: url("./img/web-banner-opt3.png");
    /* background-size:100% 500px;
    height: 500px; */

/*     background-image: url("./img/welcome-banner-opt1.png"); */
    background-size:100% 250px;
    /* background-repeat: no-repeat; */
    height: 250px;
/*     border: 2px green solid; */
}

.welcome-message {
/*     border: 3px blue dashed; */
    color: #00a3ff;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#registered {
/*     border: 2px blue solid; */
    padding: 3px;
    margin-top: 40px;
    margin-left: -30px;
}
.welcome-form-container {
    display: flex;
/*     border: 2px red solid; */
    justify-content: center;
    padding: 20px;
    width: 33%;
    margin-left: 35%;

}

input {
/*     background-color: rgb(206, 207, 242); */
      background-color: rgb(242, 239, 245);
    height: 20px;
    width: 130px;
    font-size: 18px;
    padding: 5px;
    margin: 7px;
    border: 2px #fe1bee solid;
}

#welcome-button {
    /* align-self: center; */
    background-color: rgb(106, 155, 255);
    height: 34px;
    width: 96px;
   font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 35px;
    border: 3px #fd23cf solid;

}

.link-container {
/*     border: 2px aqua solid; */
    display: flex;
    justify-content: center;
    color: #00a3ff;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin-top: -30px;
}

#login-link {
/*     border: 2px blue solid; */
    color: #00a3ff;

}

/* --------Login---------------------------------------------- */
#login-container {
/*     border: 3px red solid; */
    display: flex;
    justify-content: column;

}

#strip1-container {
/*     border: 2px blue solid; */
    width: 320px;
    flex: 1;
    padding-right: 10%;
}


#strip2-container {
/*     border: 2px yellow solid; */
    width: 320px;
    flex: 1;
    padding-left: 10%;

}

.logo-container {
    display: flex;
    border: 1px red solid;
    justify-content: center;
    align-item: center;
    flex: 2;
    padding-top: 5%;


}

.logo {
    height: 150px;
    width: 180px;

}
.login-form-container {
        display: flex;
/*     border: 2px red dashed; */
/*     flex-wrap: wrap; */
    justify-content: center;
    padding: 20px;
    width: 40%;
    margin-left: 30%;
    padding-top: 10%;

}

#login-info-container {
    border: 3px green solid;
    margin-top: 20%;
}

.logo-and-form {
    border: 4px blue solid;
    flex: 2;
}

#login-button {
    background-color: rgb(106, 155, 255);
    height: 34px;
    width: 96px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 35px;
    border: 3px #fd23cf solid;
    margin-top: 20%;

}

#register-link {
    color: #00a3ff;

}

#back {
    font-size: 35px;
}
/* --------user page---------------------------------------------- */
 .logo {
/*     border: 3px green solid; */
}

#app-logo-container {
    border: 3px green solid;
    display: flex;
    justify-content: center;
}

 #profilepicupload {
     /* border: 2px red solid; */
     height: 250px;
     border-radius: 20px;
 }

#app-user-greeting {
    border: 2px blue dotted;
    display: flex;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    color: green;
    font-size: 25px;

}
 #profilepic-container {
     border: 1px yellow solid;
 }

#pic-button {
    border: 3px #fd23cf solid;
    background-color: rgb(106, 155, 255);
    height: 34px;
    width: 96px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 35px;

}

.bio-form {
background-color: aqua;
height: 300px;
width: 400px;
border: 5px blue solid;
color: green;
}
